<div class="calculator">
  <input
    type="text"
    class="calculator-screen"
    [(ngModel)]="currentInput"
    disabled
  />
  <div class="calculator-history">
    <span
      *ngFor="let item of history"
      [ngClass]="{ number: !isOperator(item) }"
    >
      {{ item }}
    </span>
  </div>

  <div class="calculator-keys">
    <button
      type="button"
      class="operator"
      value="+"
      (click)="handleOperatorClick('+')"
    >
      +
    </button>
    <button
      type="button"
      class="operator"
      value="-"
      (click)="handleOperatorClick('-')"
    >
      -
    </button>
    <button
      type="button"
      class="operator"
      value="*"
      (click)="handleOperatorClick('*')"
    >
      &times;
    </button>
    <button
      type="button"
      class="operator"
      value="/"
      (click)="handleOperatorClick('/')"
    >
      &divide;
    </button>

    <button type="button" value="7" (click)="handleNumberClick('7')">7</button>
    <button type="button" value="8" (click)="handleNumberClick('8')">8</button>
    <button type="button" value="9" (click)="handleNumberClick('9')">9</button>

    <button type="button" value="4" (click)="handleNumberClick('4')">4</button>
    <button type="button" value="5" (click)="handleNumberClick('5')">5</button>
    <button type="button" value="6" (click)="handleNumberClick('6')">6</button>

    <button type="button" value="1" (click)="handleNumberClick('1')">1</button>
    <button type="button" value="2" (click)="handleNumberClick('2')">2</button>
    <button type="button" value="3" (click)="handleNumberClick('3')">3</button>

    <button type="button" value="0" (click)="handleNumberClick('0')">0</button>
    <button
      type="button"
      class="decimal"
      value="."
      (click)="handleDecimalClick()"
    >
      .
    </button>
    <button
      type="button"
      class="all-clear"
      value="all-clear"
      (click)="handleClearClick()"
    >
      AC
    </button>

    <button
      type="button"
      class="equal-sign"
      value="="
      (click)="handleEqualClick()"
    >
      =
    </button>
  </div>
</div>
